.payment__container {
    width: 1345px;
    margin: 0px auto;
    padding: 30px 120px;
}

.payment__diag {
    background-color: white;
    width: 840px;
    height: 320px;
}

.payment__title {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    color: #0a1c51;
    text-transform: uppercase;
}

.payment__decription {
    font-family: "Rubik", sans-serif;
    color: #0a1c51;
    font-size: 20px;
}